.field-container {
  position: absolute;
  top: 20px;
  left: 20px;

  .input-field {
    input {
      color: rgba(35, 55, 75, 0.9);
      border-bottom-color: rgba(35, 55, 75, 0.9);
    }

    label {
      color: rgba(35, 55, 75, 0.9);
    }

    input[type=text]:focus:not([readonly]), input[type=text]:focus:not([readonly]) + label {
      color: rgba(35, 55, 75, 0.9);
      border-bottom-color: rgba(35, 55, 75, 0.9);
    }

    .filled-in + label {
      color: rgba(35, 55, 75, 0.9);
    }
  }
}
