.visibility-button {
  width: 29px;
  height: 29px;
  position: absolute;
  left: -25px;
  top: 0;
  background-color: #263238;
  color: #fff;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.panel-hidden {
    border-radius: 4px;
    left: unset;
    right: 0;

    background-color: #FFFFFF;
    color: #263238;

    &:focus {
      background-color: #FFFFFF;
    }
  }

  &:focus {
    background-color: #263238;
  }
}